/* You can add global styles to this file, and also import other style files */
$h1color : #369;
$h2h3colr: #444;
$bodycolor: #888;
$font-style: Arial, Helvetica, sans-serif;
$secondfont: Helvetica, sans-serif;
h1 {
    color: $bodycolor ;
    font-family: $secondfont;
    font-size: 250% ;
    }
   