
<h2>My Heros list</h2>


<div style="width: 100%; display: table;">
  <div style="display: table-row">
      <div style="width: 600px; display: table-cell;" >
        <ul class="heroes" >
          <li *ngFor="let hero of heroes" [class.selected]="hero=== selectedhero" (click)="onselect(hero)">
           <span class="badge"> {{hero.id}} </span>&nbsp;&nbsp;&nbsp;{{hero.name | uppercase}}
          </li>
        </ul>
         </div>
      <div style="display: table-cell;" > 
        <app-herodetails [hero]="selectedhero"></app-herodetails>
         </div>
  </div>
</div>



